@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-image: url("tree-736885_1280.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}